-# = render "header"  ※header部分 marge後に部分テンプレートで追加

.wrapper
  = render "left-content"
  .logout-content
    = link_to "#", method: :delete do
      .logout-content__btn
        ログアウト

-# = render "footer"  ※footer部分 marge後に部分テンプレートで追加