.contents-destroy {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  &__table {
    padding: 40px;
    width: 700px;
    text-align: center;
    h1 {
      color: #ea352d;
      padding: 24px 40px 40px;
    }
    p {
      color: #3CCACE;
      text-align: center;
      padding: 24px 40px 40px;
    }
  }
}