@mixin sub-image {
  object-fit: contain;
  display: block;
  height: 87px;
}

.item-details {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  &__flame {
    padding: 40px;
    .contents1 {
      background-color: #fff;
      width: 700px;
      margin: 0 auto;
      padding: 24px 40px 40px;
      .item-sold{
        background: grey;
        margin: 20px auto;
        width: 100%;
        line-height: 50px;
        text-align: center;
        color: #f8f8f8;
        font-size: 30px;
        font-weight: bold;
      }
      .item-name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      .main{
        &__image{
          width: 560px;
          margin: 0 auto;
          &__principal{
            display: flex;
            .image{
            height: 346px;
            margin: 0 auto;
            object-fit: contain;
            }
          }
          &__sub{
            .image__list{
              display: flex;
              justify-content: space-around;
              text-align: center;
              margin-top: 10px;
              &__one{
                display: flex;
                width: 25%;
                margin-left: 20px;
                .image{
                  @include sub-image;
                }
              }
            }
          }
        }
      }
      .price {
        margin: 24px 0;
        text-align: center;
        .price-content {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          &__yen{
            font-size: 46px;
            font-weight: bold;
            margin-right: 10px;
          }
          &__num{
            font-size: 46px;
            font-weight: bold;    
          }
        }
        .price-incidental{
          margin: 0 auto;
          display: flex;
          justify-content: center;
          &__tax{
            font-size: 20px;   
          }
          &__postage{
            font-size: 20px;        
          }
        }
      }
      .item-block{
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
        &__name{

        }
      }
        

      .details{
        margin-bottom: 20px;
        &__table{
          width: 100%;
          height: 375px;
          &__line{
          border: 1px solid;
          box-sizing: border-box;
            .title {
              background-color: #eee;
              width: 20%;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            .name{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              a {
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
      }
      .like{
        display: flex;
        justify-content: space-between;
        &__click{
          display: flex;
          margin-top: 10px;
          padding: 6px 10px;
          border-radius: 40px;
          color: #3CCACE;
          border: 1px solid #ffb340;
          &__icon{
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
          }
          &__letter{
            margin-left: 5px;
          }
        }
        &__arart{
          display: flex;
          margin-top: 10px;
          font-size: 14px;
          padding: 6px 10px;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333;
          text-decoration: none;
          line-height: 24px;
          &__icon{
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
          }
          &__letter{
            margin-left: 5px;
          }
        }
      }
      .like :hover{
        opacity: 0.5;
      }
    }
    .contents2 {
      background: #ea352d;
      display: block;
      margin: 20px auto;
      width: 700px;
      .item-purchase{
        color: #fff;
        display: block;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .contents2-sold {
      background: grey;
      display: block;
      margin: 20px auto;
      width: 700px;
      .item-purchase{
        color: #fff;
        display: block;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .contents3 {
      background-color: #fff;
      width: 700px;
      margin: 0 auto;
      padding: 24px 40px 40px;
      text-align: center;
      .new-comment{ 
        &__field{
          width: 680px;
          min-height: 104px;
          padding: 10px;
        }
      }
      .caution{
        background-color: #f8f8f8;
        font-size: 14px;
        margin: 10px 0;
        padding: 8px;
        text-align: left;
      }
      .comment{
        margin-top: 30px;
        a{
          text-decoration: none;    
          .btn{
            background: #3CCACE;
            border: 1px solid #3CCACE;
            display: flex;
            line-height: 48px;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            margin: 0 auto;

            .comment__btn{
              display: flex;
              align-items: center;
              margin: 0 auto;
              .icons {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                text-decoration: none;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .contents4 {
      display: flex;
      justify-content: space-between;
      width: 780px;
      margin: 10px auto 0;
      a{
        text-decoration: none;
        .previous{
          display: flex;
          color: #3CCACE;
          font-size: 18px;
          &__icon{
            margin-right: 3px;
          }
          &__content{
          }
        }
        .next{
          display: flex;
          color: #3CCACE;
          font-size: 18px;   
          &__content{
            margin-right: 3px;
          }
          &__icon{
          }
        }
      }
    }
    .contents5 {
      width: 780px;
      margin: 24px auto 8px;
      .category-more a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
      }
      .category-items{
        display: flex;
        justify-content: space-around;
        .category-item{
          margin: 24px 0 8px;
          width: calc( 100% / 3 );
          a{
            text-decoration: none;
            .category-item__first {
              background-color: #fff;
              color: black;
              display: block;
              margin: 5px;
              text-decoration: none;
              height: 280px;
              
              .item-image{
                z-index: auto;
                text-align: center;
                .image{
                  height: 150px;
                  object-fit: contain;
                }
              }
              .item-content{
                padding: 16px;
                margin: 15px 0 15px;
                &__name{
                  font-size: 16px;
                }
                &__mix{
                  display: flex;
                  justify-content: space-between;
                  &__price{
                    display: flex;
                    font-size: 16px;
                    &__yen{
                    }
                    &__num{
                    }
                  }
                  &__like{
                    display: flex;
                    width: 40px;
                    position: relative;
                    .icons{
                      position: absolute;
                      left: 0;
                      bottom: 5px;
                    }
                    &__count{
                      position: absolute;
                      bottom: 0;
                      right: 0;
                    }
                  }
                }
                &__tax{
                  font-size: 10px;
                }
              }
            }
          }
          a :hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.exhibit{
  width: 120px;
  background:#3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &--text{
    color:#fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &--image{
    vertical-align: bottom;
  }
} 