* {
  box-sizing: border-box;
}

@mixin content{
  padding: 32px 16px;
  max-width: 375px;
  margin: 0 auto;
  text-align: left;
}

@mixin border{
  border-top: 1px solid rgb(245, 245, 245);
}

@mixin between{
  display: flex;
  justify-content: space-between;
}

// headerマージ後部分テンプレート使用
.header{
  height: 128px;
  text-align: center;
  background-color: #f5f5f5;
  .header-logo{
    width: 200px;
    margin-top: 30px;
  }
} 

.purchase{
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  
  &__contents{
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    &__name{
      opacity: 1;
      pointer-events: auto;
      max-width: 375px;
      margin: 0px auto;
      padding: 24px 16px;
      font-weight: bold;
      padding: 32px 16px;
    }
    &__product{
      @include content;
      @include between;
      @include border;
      &__image{
        width: 80px;
        height: 80px;
        border: 1px solid; 
      }
      &__detail{
        width: 70%;
        margin-left: 10px;
        &__name{
          font-size: 14px;
          line-height: 1.4em;
          margin-bottom: 8px;
        }
        &__price{
          display: flex;
          justify-content: flex-end;
          &--send{
            font-size: 12px;
          }
          &--tax{
            font-size: 15px;
            font-weight: 600;
            margin-left: 8px;
          }
        }
      }
    }
    &__price{
      @include content;
      @include border;
      font-weight: bold;
      &__sum{
        @include between;
        &__name{
          font-size: 15px;
        }
        &__detail{
          font-size: 20px;
        }
      }
    }
    &__way{
      @include content;
      @include border;
      font-size: 13px;
      &__pay{
        @include between;
        &__name{
          font-weight: bold;
        }
      }
    }
    &__delivery{
      @include content;
      @include border;
      text-align: left;
      border-bottom: 1px solid rgb(245, 245, 245);
      margin-bottom: 30px;
      font-size: 13px;
      &__name{
        @include between;
        &__send{
          font-weight: bold;
        }
      }
      &__detail{
        list-style: none;
      }
    }
  }
}
a{
  text-decoration: none;
  color: #3CCACE;
}
a:hover{
  opacity: 0.8;
  text-decoration: underline;
}
.buy__btn{
  @include content;
  text-align: center;
  background-color: #3CCACE;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  width: 100%;
  border-style: none;
  border-radius: 4px;
  padding: 0px;
}
.credit-campany{
  margin-top: 8px;
  max-height: 32px;
  max-width: 48px;
}


// footerマージ後部分テンプレート使用
.footer{
  height: 220px;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  &__contents1{
    margin: auto;
    padding: auto;
    &__rule{
      a{
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      a:hover{
        opacity: 0.5;
      }
      &__num1{
        margin: 0;
        display: inline-block;
        font-size: 12px;
      }
      &__num2{
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 12px;
      }
      &__num3{
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 12px;
      }
    }
  }
  &__contents2{
    &:hover{
      opacity: 0.5;
    }
    &__footerlogo{
    display: block;
    margin: 40px auto 0;
    height: 65px;
    cursor: pointer;
    }
  }
  &__contents3{
    font-size: 13px;
    color: black;
  }
} 