.footer
  .footer__upper
    .footer__upper__about
      %ul.footer__upper__about--title FURIMAについて
      %li.footer__upper__about--list 会社概要(運営会社)
      %li.footer__upper__about--list プライバシーポリシー
      %li.footer__upper__about--list FURIMA規約
      %li.footer__upper__about--list ポイントに関する特約
    .footer__upper__about
      %ul.footer__upper__about--title FURIMAを見る
      %li.footer__upper__about--list カテゴリー一覧
      %li.footer__upper__about--list ブランド一覧
    .footer__upper__about
      %ul.footer__upper__about--title FURIMAガイド
      %li.footer__upper__about--list FURIMAガイド
      %li.footer__upper__about--list FURIMAロゴ利用ガイドライン
      %li.footer__upper__about--list お知らせ

  .footer__low
    .footer__low__logo
    = image_tag "logo/logo-white.png", width: "160px";
    %p.footer__low--copyright ©️FURIMA 