.topfooter
  .topfooter__upper
    .topfooter__upper__about
      %ul.topfooter__upper__about--title FURIMAについて
      %li.topfooter__upper__about--list 会社概要(運営会社)
      %li.topooter__upper__about--list プライバシーポリシー
      %li.topfooter__upper__about--list FURIMA規約
      %li.topfooter__upper__about--list ポイントに関する特約
    .topfooter__upper__about
      %ul.topfooter__upper__about--title FURIMAを見る
      %li.topfooter__upper__about--list カテゴリー一覧
      %li.topfooter__upper__about--list ブランド一覧
    .topfooter__upper__about
      %ul.topfooter__upper__about--title FURIMAガイド
      %li.topfooter__upper__about--list FURIMAガイド
      %li.topfooter__upper__about--list FURIMAロゴ利用ガイドライン
      %li.topfooter__upper__about--list お知らせ

  .topfooter__low
    .topfooter__low__logo
      = image_tag "logo/logo-white.png", width: "160px";
    %p.topfooter__low--copyright ©️FURIMA

